/node_modules
/routes/web.php
/app/Http/routes.php
/public/hot
/public/cms
/public/uploads
/public/image/dnf_gif
/public/image/load
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
